<form style = "margin: 100px 300px 100px">
    <div class = "form-group">
      <div style="text-align: center">
      <h5>Bienvenido a FletBlack</h5>
    </div>
      <div class="form-group col-xs-12">
        <label for="inputCelular">Celular</label>
        <input type="email" class="form-control" id="inputCelular" placeholder="Ingresa tu número de célular">
      </div>
      <div class="form-group col-xs-6">
        <label for="inputPassword4">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Ingresa tu contraseña">
      </div>
      <div class="form-group col-xs-6">
        <label for="inputPassword4">Confirmar contraseña</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Confirma tu contraseña">
      </div>
    </div>
    <div>
      <div class="form-group col-xs-6">
        <label for="inputClave">Clave de elector</label>
        <input type="text" class="form-control" id="inputClave">
      </div>
    </div>
    
    <button type="submit" class="btn btn-dark">Registrarme</button>
  </form>
